<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"/></script>
 
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/jquery-ui.js"></script>
    <script src="/javascript/bootstrap.js"></script>
      <script src="/javascript/scrollpagination.js"></script>
    <script type="text/javascript" src="/javascript/markerclusterer.js"></script>
    <script src="/javascript/login_location.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.22/skrollr.js"> </script>
    <script src="/javascript/application.js"></script> 

    <title>karmaCloud</title>
  </head>
  <body>
    <div class="errors_container">
      <!-- login and create user errors -->
      <% if session[:create_user_errors] %>
          <% session[:create_user_errors].each do |message| %>
            <div class="alert alert-danger alert-dismissible user_error" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Error: <%= message %></strong>
            </div>
          <% end %>
          <% session[:create_user_errors] = nil %>
      <% end %>
      <% if session[:create_story_errors] %>
        <% session[:create_story_errors].each do |message| %>
          <div class="alert alert-danger alert-dismissible story_error" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <strong>Error: <%= message %></strong>
          </div>
        <% end %>
        <% session[:create_story_errors] = nil %>
      <% end %>
      <% if session[:login_error] %>
        <div class="alert alert-danger alert-dismissible login_error" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <strong>Error: Username or Password incorrect</strong>
        </div>
        <% session[:login_error] = nil %>
      <% end %>
    </div>
    <div class='header'>
    <div class='container'>
      <div id='menu'>
          <ul>
            <% if session[:user_id] %>
              <li><a href='#' id='create_story-link'>create story</a></li>
            <% end %>
            <% if !session[:user_id] %>
              <li><a href='#' id='login-link'>login</a></li>
              <li><a href='#' id='create_user-link'>signup</a></li>
            <% else %>
            <div class='profile_avatar'>
              <a href='/user/<%= session[:current_user_name] %>'>
              <% if session[:current_user_email] %>
                <img alt="" class="user-avatar" src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(session[:current_user_email]) %>?s=50" /><br />
              <% end %>
              view profile</a>
              <form method='post' id='logout_form' action='/user_session' class='logout'>
                <input type='hidden' value='delete' name='_method'>
                <div id='logout'>log out</div>
                <script>
                  $('#logout').click(function(){$('#logout_form').submit();});
                </script>
              </form>
            </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

      <div class="container">
        <div id="title">
          <h1>
            <a href='/' class='karma_cloud-title'>karmaCloud</a>
          </h1>
          <% if session[:user_id]!=nil %>
            <div class='karma_count'>
              <small>karmaLevel:<%= @current_user.karma_total %> karmaBank:<%= @current_user.karma_bank %></small>    
            </div>
          <% end %>

        </div>  
      </div>
    <div id='login'>
      <div class="login_forms">
        <form id="location_form" method="post" action="/user_session">
          <lable>username:</lable><input class="login-input" name="user_name" /><br><lable>password:</lable><input class="password-input" type="password" name="password" /><br>
          <input type="hidden" name="browser_latitude">
          <input type="hidden" name="browser_longitude">
          <button id="form_submit_btn">Submit</button>
        </form>
      </div>
    </div>
    <div id="create_user">
      <div class="create_forms">
        <form method="post" action="/user" id="create_user_form">
          <label>user name:</label>
          <input type="text" name="user_name"  />
          <label> Password</label>
          <input type="password" name="password"/>
          <label> Name (optional)</label>
          <input type="text" name="name" />
          <label> Email (optional)</label>
          <input type="text" name="email" />
          <input type="hidden" name="browser_latitude" />
          <input type="hidden" name="browser_longitude" />
          <button value="Submit" id="create_user_button">Submit</button>
        </form>
      </div>
    </div>

    <div id='create_story'>
      <form method='post' action='/story' id='create_story-form'>
        <label>Title</label>
        <input name='title' type='text' class='story_title' />
        <div class='story_input'>
          <textarea cols="100" rows="10" name='content'></textarea>
        </div>
        <fieldset>
         <legend>mood</legend>
            <label>select</label>            
            <input type = "radio"
                   name = "mood"
                   id = "red"
                   value = "red"
                   checked = "checked" />
            <label for = "red">red</label>
            
            <input type = "radio"
                   name = "mood"
                   id = "green"
                   value = "green" />
            <label for = "green">green</label>
        </fieldset>
        <input type='hidden' name='user_id' value='<%= session[:id] %>' />
        <input type='submit' />
      </form>
    </div>
   
    <script>

    $( "#create_story" ).dialog({
  autoOpen: false,
  width: 900,
  height: 450,
  modal: true,
  resizable: true,
  title: "Create a Story" 
});

// Link to open the dialog
$( "#create_story-link" ).click(function( event ) {
  $( "#create_story" ).dialog( "open" );
  event.preventDefault();
});


  $( "#profiles" ).dialog({
  autoOpen: false,
  width: 500,
  height: 600,
  modal: true,
  resizable: true,
  title: "profiles" 
});

// Link to open the dialog
$( "#profiles-link" ).click(function( event ) {
  $( "#profiles" ).dialog( "open" );
  event.preventDefault();
});
$( "#stories" ).dialog({
  autoOpen: false,
  width: 500,
  height: 600,
  modal: true,
  resizable: true,
  title: "All Stories" 
});

// Link to open the dialog
$( "#stories-link" ).click(function( event ) {
  $( "#stories" ).dialog( "open" );
  event.preventDefault();
});

$( "#login" ).dialog({
  autoOpen: false,
  width: 400,
  modal: true,
  resizable: false,
  title: "Login to Karma Cloud" 
});

// Link to open the dialog
$( "#login-link" ).click(function( event ) {
  $( "#login" ).dialog( "open" );
  event.preventDefault();
});

  $( "#create_user" ).dialog({
  autoOpen: false,
  width: 400,
  modal: true,
  resizable: false,
  title: "Welcome to Karma Cloud" 
});

// Link to open the dialog
$( "#create_user-link" ).click(function( event ) {
  $( "#create_user" ).dialog( "open" );
  event.preventDefault();
});
</script>
  <%= yield %>
  </body>
  </html>