<!DOCTYPE html>
<html>
  <head>
  <%= include_gon %>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css" />
    
    <script href="javascript/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7gQpc44MXI-1hxqphb4VJpg92xtjgig" type="text/javascript"></script>
    <script src="javascript/map.js" type="text/javascript"></script>
    
    <script src="javascript/jquery.js"></script>
    <script src="javascript/application.js"></script>
    <script src="javascript/jquery-ui.js"></script>    

    <title>Karma Cloud</title>
  </head>
  <body>
  <div>
  <div class="container">
  <div id="title">
  <h1>
    Karma Cloud
  </h1>
    <div id='menu'>
    <ul>
    <li>create story</li>
    <li>search stories</li>
    <li>profiles</li>
    <li><a href='#' id='login-link'>login</a></li>
    <li><a href='#' id='create_user-link'>signup</a></li>
    </ul>

    </div>
  </div>

  <div class="login_forms">
    <% if session[:user_id] %>
    <form method="post" action="/user_session">
      <input name="_method" type="hidden" value="delete" />
      <button type="submit" class="logout btn btn-primary">logout</button>
    </form> 
    <% else %>
    <form action="/user_session/new" class="form-group" method="post">
      <lable>username:</lable><input class="login-input" name="user_name" /><br><lable>password:</lable><input class="password-input" type="password" name="password" /><br><input type="submit" />
    </form>
    <% end %>
  </div>

  <div id="create_user">
    <div class="create_forms">
      <form method="post" action="/user">
        <label>user name:</label>
        <input type="text" name="user_name" value="<%= @user.user_name %>" />
        <label> Password</label>
        <input type="password" name="password" value="" />
        <label> Name (optional)</label>
        <input type="text" name="name" value="<%=@user.name%>" />
        <label> Email (optional)</label>
        <input type="text" name="email" value="<%=@user.email%>" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
<script>
  $( "#login" ).dialog({
  autoOpen: false,
  width: 400,
  modal: true,
  resizable: false,
  title: "Login to Karma Cloud" 
});

// Link to open the dialog
$( "#login-link" ).click(function( event ) {
  $( "#login" ).dialog( "open" );
  event.preventDefault();
});

  $( "#create_user" ).dialog({
  autoOpen: false,
  width: 400,
  modal: true,
  resizable: false,
  title: "Welcome to Karma Cloud" 
});

// Link to open the dialog
$( "#create_user-link" ).click(function( event ) {
  $( "#create_user" ).dialog( "open" );
  event.preventDefault();
});
</script>

  <%= yield %>
  </body>
  </html>