<!DOCTYPE html>
<html>
  <head>
  <%= include_gon %>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh7gQpc44MXI-1hxqphb4VJpg92xtjgig" type="text/javascript"></script>
    
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/jquery-ui.js"></script>
    <script src="/javascript/bootstrap.js"></script>
    <script src="/javascript/map.js" type="text/javascript"></script>
    <script src="/javascript/application.js"></script>  

    <title>Karma Cloud</title>
  </head>
  <body>
      <div class='header'>
      <div class='container'>
  <div id='menu'>
          <ul>
            <li><a href='#' id='create_story-link'>create story</a></li>
            <li><a href='#' id='stories-link'>search stories</a></li>
            <li><a href='#' id='profiles-link'>profiles</a></li>
            <li><a href='#' id='login-link'>login</a></li>
            <li><a href='#' id='create_user-link'>signup</a></li>
          </ul>
        </div></div></div>

      <div class="container">
        <div id="title">
          <h1>
            Karma Cloud
          </h1>
        </div>  
      </div>
    </div>
    <div id='login'>
      <div class="login_forms">
        <form method="post" action="/user_session">
          <lable>username:</lable><input class="login-input" name="user_name" /><br><lable>password:</lable><input class="password-input" type="password" name="password" /><br><input type="submit" />
        </form>
      </div>
    </div>
    <div id="create_user">
      <div class="create_forms">
        <form method="post" action="/user">
          <label>user name:</label>
          <input type="text" name="user_name" value="<%= @user.user_name %>" />
          <label> Password</label>
          <input type="password" name="password" value="" />
          <label> Name (optional)</label>
          <input type="text" name="name" value="<%=@user.name%>" />
          <label> Email (optional)</label>
          <input type="text" name="email" value="<%=@user.email%>" />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>


    <div id='profiles'>
      <% @users.each do |user| %>
        <div>
          <%= user.user_name %>
        </div>
      <% end %>
    </div>
    <div id='create_story'>
      <form method='post' action='/story'>
        <label>Title</label>
        <input name='title' type='text' class='story_title' />
        <div class='story_input'>
          <textarea cols="100" rows="10" name='content'></textarea>
        </div>
        <fieldset>
         <legend>mood</legend>
            <label>select</label>            
            <input type = "radio"
                   name = "mood"
                   id = "red"
                   value = "red"
                   checked = "checked" />
            <label for = "red">red</label>
            
            <input type = "radio"
                   name = "mood"
                   id = "green"
                   value = "green" />
            <label for = "green">green</label>
        </fieldset>
        <input type='hidden' name='user_id' value='<%= session[:id] %>' />
        <input type='hidden' name='location' value='<%= session[:user_location] %>' />
        <input type='submit' />
      </form>
    </div>


    <div id='stories'>
      <% @stories.each do |story| %>
      <div>
        <%= story.mood %>
        <%= story.title %> -
        <%= distance_of_time_in_words(story.created_at, Time.now, include_seconds: true) %> ago
        <%= story.location %>
      </div>
      <% end %>
    </div>
  <%= yield %>
  </body>
  </html>