<% if params[:gift_success] %>
  <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismissable="alert">
      <span aria-hidden="true">&times;</span>
      <span class="st-only">Close</span>
    </button>
    <strong>Success! You gifted <%= @user.user_name %> <%= @amount %> karma!</strong>
  </div>
<% end %>

<div class="horizontal_panel">
  <div class="top_story">
    <h2>
    User Profile
    </h2>
  </div>
</div>
<div class="col-md-3 user-profile-left">
  <div class="inner-bar">
    <img alt="" class="user-avatar" src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(@user.email) %>?s=200" />
    <div class="user-info">
      <div>
        <h4>
          <%= @user.user_name %>  <br/><span class="small">Username</span>
        </h4>
      </div>
      <div>
        <h4>
          <%= @user.name %>  <br/><span class="small">Name</span>
        </h4>
      </div>
      <div>
        <h4>
          <%= @user.karma_total %>  <br/><span class="small">Karma</span>
        </h4>
      </div>
    </div>
    <form method="post" action="/karmagift">
      <div class="user-actions btn-group-vertical">
        <button class="btn btn-default btn-lg">Create Story</button>
        <button class="btn btn-default btn-lg">View Latest Stories</button>
        <% if @user.id != session[:user_id] && session[:user_id] %>
            <input type="hidden" name="id" value="<%= @user.id %>">
            <button type="submit" class="btn btn-default btn-lg">Give Karma</button>
        <% end %>
      </div>
    </form>
  </div>
</div>
<div class="col-md-9 user-profile-right">
  <% @user.stories.each do |story| %>
      <div class="event" onclick="location.href='/story/<%= story.id %>'">
        <p>
          <%= @user.user_name %> created a story:
        </p>
        <h3><%= story.title %></h3>
      </div>
  <% end %>
</div>