
<div class="top_stories">
  <div class="top_stories-bg">
    <div class="horizontal_panel">
      <div class="top_story">
        <h2>
        Todays Top Stories
        </h2>
      </div>
    </div>
    <div class="container">
      <div id="top_5">
        <h3>Story 1</h3>
        <div class="story"></div>
        <h3>Story 2</h3>
        <div class="story"></div>
        <h3>Story 3</h3>
        <div class="story"></div>
        <h3>Story 4</h3>
        <div class="story"></div>
        <h3>Story 5</h3>
        <div class="story"></div>
      </div>
    </div>
  </div>
</div>
<div class='map_bar'></div>

<div id="map-container">
  <div id="map-loading"></div>
  <div class="hidden map_canvas" id="map-canvas"></div>
</div>

<div class="mission_statement">

  <h2>
    Help One Another...
    Share With Each Other...
  </h2>
</div>
<h2>
    Latest Stories
  </h2>
<div class="story_feed">

  
<div id="accordion">
  <% @stories.each_with_index do |story,index| %>
  <% if story.mood == 'red' %>
  <h3 class='red_story'><%= story.title %></h3>
  <% else %>
  <h3 class='green_story'><%= story.title %></h3>
  <% end %>
  <div>
    <p><%= story.content %></p>
    <p>posted by <%= story.user_name %> </p>
    <p><%= distance_of_time_in_words(story.created_at, Time.now, include_seconds: true) %> ago</p>
    <p><a href='/story/<%= story.id %>' class='comment-link'>show <%= @latest_comments[index].count %> comments</a>
  </div>
  <% end %>
</div>
  
  
</div>
<script type="text/javascript" src="javascript/map.js"></script>


 