<div id="box">
<% 10.times do %>
<div class="cloud_box" style="position: relative;" ><span class="glyphicon glyphicon-cloud" ></span></div>
<% end %>
</div>
<% @stories= @stories.reverse %>
<% @stories.each_with_index do |story,index| %>

  <% if story == @story %>
  <div style="opacity:0;-moz-opacity: 0;filter: alpha(opacity=0);">
    <div class='story'>
    <div class="horizontal_panel">
    <h5><%= story.user_name %></h5>
    </div>
    <div class="story_wrapper">
    <div>
    <p><%= story.user_name %> wrote: </p>
    <div class="story_content">
    <p><%= story.content %></p>
    </div>
     <% if story.mood == 'red' %>
  <small class='red_story'><%= @date %></small>
  <% else %>
  <small class='green_story'><%= @date %></small>
  <% end %>
  <div class="story_posted"
    <p><small>posted <%= distance_of_time_in_words(story.created_at, Time.now, include_seconds: true) %> ago</small></p>
    <p><a href='/story/<%= story.id %>' class='comment-link'>show comments</a></p>
  </div>
  </div>
  </div>
  </div>
  </div>


  <% end %>

<% end %>
